.header {
    width: 100vw;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    --logo-height: 50px;
    --logo-width: calc(var(--logo-height) * (2800/512));

    width: var(--logo-width);
    height: var(--logo-height);
}

.header_section {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 100%;
    cursor: pointer;
}

.dropdown {
    width: fit-content;
    height: fit-content;

    background-color: var(--bg550);
    position: absolute;
    right: 0;
    z-index: 9999 !important;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dropdown_item {
    width: 175px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.dropdown_item:hover {
    background-color: var(--bg450);
}

.dropdown_item h1 {
    font-size: 26px;
    font-weight: 500;
}