.top {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.top h1 {
    margin-left: 15px;
    font-size: 35px;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.progress {
    width: 100%;
    height: fit-content;
    min-height: 150px;
    margin-bottom: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--bg450);
    border-radius: 10px;
}

.progress h3 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text600);
}

.double {
    width: 100%;
    display: flex;
}

.stats {
    margin-right: 10px;
    width: calc(40% - 10px);
    height: fit-content;
    min-height: 200px;
    border-radius: 10px;
    background-color: var(--bg450);
}

.stats_title {
    margin-left: 15px;
    margin-top: 15px;
}

.stats_subtitle {
    margin: 0 15px;
    font-size: 17px;
    font-weight: 300;
    color: var(--text550);
}

.stats_content {
    width: calc(100% - 30px);
    margin: 15px;
    margin-top: 30px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.stat {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.stat_metric {
    font-size: 16px;
    font-weight: 400;
    color: var(--text600);
}

.recommended {
    width: calc(60% - 40px);
    margin-left: 10px;
    height: 250px;
    border-radius: 10px;
    padding: 15px;
    background-color: var(--bg450);
}

.lessons {
    width: calc(100% - 30px);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
}

.lesson {
    width: calc(100% - 20px);
    height: 80px;
    padding: 10px;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: var(--bg400);
    border-radius: 10px;
}

.lesson_image {
    --image-height: 85px;
    --image-width: calc(var(--image-height) * (16 / 9));

    width: var(--image-width);
    height: var(--image-height);

    border-radius: 10px;
}

.lesson_text {
    width: 40%;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    margin-left: 15px;
}

.lesson_text h1 {
    font-size: 32px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.lesson_text p {
    font-size: 16px;
    font-weight: 300;
    color: var(--text600);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.checkmark {
    transform: translateX(-50px);
}

.recommended_empty {
    width: 100%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.recommended_empty h1 {
    font-size: 25px;
    font-weight: 400;
    color: var(--text600);
}